* {
    box-sizing: border-box;
}


#logo {
    height: 3em;
    width: 6em;
    margin-top: -13px;
}

div > ul > li > a {
    margin: 5px 25px;
    font-size: 18px;
    color: #A3A0A1;
}


.content {
    height: 27em;
}

#counter {
    background-color: #9F0306;
    width: 100%;
    height: 33em;
    padding: 2em;
}

#defaultCountdown {
    width: 100%;
}

#title {
    color: white;
    font-size: 4em;
}

#titleText {
    display: inline-block;
    color: white;
    font-size: 1.3em;
    margin: 0 12em 0 12em;
}

#readMore {
    color: #A3A0A1;
    background-color: #FFFFFF;
    border: none;
    font-size: 2em;
    margin-top: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

#slider {
    background-color: #F3F1F1;
    width: 100%;
    padding: 2em;
}

#partners {
    display: inline-block;
    color: #A3A0A1;
    font-size: 4em;
    margin-bottom: 0.4em;
}

.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
    color: #A3A0A1;
    margin-left: -3em;
    margin-right: -3em;
 }

#photo {
    width: 100%;
    padding: 0;
}

#contact {
    width: 100%;
    padding: 0;
}

#contact_map {
    height: 100%;
    width: 50%;
    float: left;
    padding: 0;
}

#contact_sendmail {
    background-color: #F3F1F1;
    height: 100%;
    width: 50%;
    float: left;
}

#message {
    display: inline-block;
    color: #A3A0A1;
    font-size: 3em;
    margin-top: 0.2em;
}

.mailNames {
    color: #A3A0A1;
    font-size: 2em;
}

.inputs {
    border: 0 none;
    width: 20em;
    height: 2.2em;
    padding: 5px;
}

#ym {
    display: inline-block;
    margin-top: 0.2em;
}

td {
    padding-left: 7.5em !important;
}

#button {
    background-color: #9F0306;
    color: white;
    border: none;
    font-size: 1.5em;
    width: 7em;
    float: right;
    margin-top: 0.4em;
}


#footer {
    width: 100%;
    height: 4em;
    background-color: rgb(55, 48, 45);
    padding: 1.5em;
    color: white;
    font-size: 16px;
}

#footer > label > a {
    color: #9F0306;
    text-decoration: none;
}


